.listContainer{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.imageDiv{
    display:flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #cccccc;
}
.imageDiv img{
    width: 200px;
    height: 100px;
}
.imageDiv span{
    margin-top: 10px;
    font-size: 12px;
}